annotated-types==0.6.0
anyio==4.3.0
blinker==1.7.0
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
distro==1.9.0
filelock==3.13.1
Flask==3.0.2
fsspec==2024.2.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
llvmlite==0.42.0
MarkupSafe==2.1.5
more-itertools==10.2.0
mpmath==1.3.0
mutagen==1.47.0
networkx==3.2.1
numba==0.59.0
numpy==1.26.4
openai==1.13.3
openai-whisper==20231117
packaging==23.2
pycryptodomex==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
regex==2023.12.25
requests==2.31.0
sniffio==1.3.1
sympy==1.12
tiktoken==0.6.0
torch==2.2.1
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.2.1
websockets==12.0
Werkzeug==3.0.1
yt-dlp==2024.2.29.232658.dev0
